body {
    margin-top: 0; 
}

#planos {
    display: flex;
    justify-content: center; /* Centraliza o conteúdo flex */
}

.content {
    width: 50%; 
    margin-top: 2em; 
    text-align: justify;
}

.banner-image {
    width: 55%; 
    height: auto; /* Mantém a proporção da imagem */
    display: block;
    margin-left: auto; /* Centraliza horizontalmente */
    margin-right: auto; /* Centraliza horizontalmente */
}

h1 {
    margin: auto; 
    color: rgb(95, 30, 5);
    text-align: center; /* Centraliza o título */
    width: 50%;
}

h2, h3, h4 {
    margin: auto;
    text-align: left; /* Centraliza o texto na esquerda */
    width: 50%; /* Define a largura do h2 */
    text-align: justify;
    color: rgb(95, 30, 5);
    font-family: Arial, Helvetica, sans-serif;
}

#texto_final {
    margin-left: auto;
    margin-right: auto;
    width: 50%; /* Define a largura do texto final */
    text-align: justify;
    font-family: Arial, Helvetica, sans-serif;
}

#menu-h {
    list-style-type: none;
    margin-top: 0%;
    padding: 20px;
    background-color: rgb(95, 30, 5);
    margin-bottom: 0%;
    color: white;
}

#menu-h li {
    display: inline;
    margin: 0;
    padding: 20px;
}

.dropdown {
    position: relative;
    display: inline-block;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: rgb(40, 40, 40);
    min-width: 200px;
    padding: 5px;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.link {
    text-decoration: none;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

.listas {
    list-style-type: none;
    padding: 0px;
}

footer {
    background-color: black;
    color: white;
    padding: 20px;
    line-height: 1.5;
    text-align: center;
}

.gallery-container {
    display: flex;
    justify-content: center;
    align-items: center; /* Centraliza verticalmente */
    flex-wrap: wrap; /* Garante que as imagens da galeria sejam dispostas em várias linhas */
}

.gallery-image4 {
    width: 50%; /* Define a largura desejada */
    margin-left: auto; /* Define a margem esquerda automática */
    margin-right: auto; /* Define a margem direita automática */
}
.cart-container {
    text-align: center;
    margin-top: 20px;
}
.cart-button {
    background-color: #ff5733; /* Change this to your desired color */
    border: none;
    color: rgb(226, 31, 31); /* Text color */
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 12px;
}
.cart-button:hover {
    background-color: #e04e2b; /* Darker shade for hover effect */
}
.cart-button {
    background-color: #a70000; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 12px;
}
